.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F1F1F1;
}

.container h1 {
    font-size: 40px;
    color: #333333;
    margin-bottom: 20px;
}

.circle-container {
    display: flex;
    justify-content: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

p {
    font-size: 20px;
    color: #777777;
}
